<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starrysky.lifemini.mapper.KeywordDictMapper">

    <select id="quertAllrelationInfo" resultType="com.starrysky.lifemini.model.dto.CommentKeywordRelation">
        select tc.id       as commentId,
               tkd.keyword as keyword
        from tb_comment tc
                 inner join tb_shop_keyword_relation tskr
                            on tc.id = tskr.comment_id
                 inner join tb_keyword_dict tkd
                            on tskr.keyword_id = tkd.id

    </select>
    <select id="queryKeywordListByIds" resultType="java.lang.String">
        select keyword
        from tb_keyword_dict
        where id in
        <foreach item="item" collection="keywords" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>
</mapper>
